.App {
}

nav {
	height: 70px;
  padding: .2rem 2.2rem;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
  border-bottom: gray 1px solid;
}

main {
  left: 0;
  top: 0;
}

.logo span{
  font-size: 1.5rem;
  font-weight: 800;
  color: black;
}